body 
{text-align: center;
color: #556270;
margin-left:10%;
margin-right:10%;
font-family: 'Yanone Kaffeesatz', sans-serif;
background-color: beige;}
h1
{
	font-size: 64px;
}
h2
{
	font-size: 40px;
}
h3
{
	font-size: 28px;
}
p 
{font-size: 24px;}
p a
{color: #4ECDC4;}
p a:hover
{color: #AFE9E4;}
h1 a{
text-decoration:none;
color: #556270;}
h1 a:hover{color: #7C8B9C;}
h2 a{
text-decoration:none;
color: #556270;}
h2 a:hover{color: #7C8B9C;}
#bait{
	position: fixed;
	left:-10000px;
}
#contact{
width:75;
height:75;}
#resume{
width:75;
height:75;}
#github{
width:75;
height:75}
