@media screen and (min-aspect-ratio: 1/1){/*desktop site (normal computers have aspect ratios of at least 1)*/
#sidebar {
  position: fixed;
  top: 40px;
  background-color: #777777;
  left: 40px;
  width: 200px;
  border-right:1px solid #111111;
}
 
#content {
  margin: 0 40px 40px 280px;
color: #404040;
font-family: 'Bitter',serif;
text-align:center;
font-size:24px;
}

html{
	background-image: url("files/moon.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	color:#404040;				/* Old colour:  #404040 */
	font-family: 'Bitter', serif;
	
	background-color: #FFFFFF;
}
h1{
	font-size:64px;
}
h2{
	font-size:32px;
}
h3{
	font-size: 26px;
	font-weight: bold;
}
p{
	margin-right: 15%;
	margin-left: 15%;
	font-size: 24px;
}
a:link{color:#404040;}
a:visited{color:#404040;}
a:active{color:#404040;}
a:hover{color:#858585;}
}
@media screen and (max-aspect-ratio: 9/10){/*mobile site (mobile devices have aspect ratios under 1)*/
	html{
	background-image: url("files/pattern.png");
	background-attachment: fixed;
	background-size: cover;
	color:#9c9c9c;
	/*background-color: #9C9C9C;*/
	text-align: center;
	font-family: 'Bitter', serif;
}
h1{
	font-size:64px;
}
h2{
	font-size:32px;
}
h3{
	font-size: 26px;
	font-weight: bold;
}
p{
	margin-right: 15%;
	margin-left: 15%;
	font-size: 24px;
}
a:link{color:#9c9c9c;}
a:visited{color:#9c9c9c;}
a:active{color:#9c9c9c;}
a:hover{color:#7A7A7A;}
}
