html{
	text-align: center;
	color: #3D3D3D;
	font-family: 'Bitter', serif;
}
h1{
	font-size:64px;
}
h2{
	font-size:32px;
}
p{
	font-size: 24px;
}
a:link{color:#3D3D3D;}
a:visited{color:#3D3D3D;}
a:active{color:#3D3D3D;}
a:hover{color:#242424;}